{% extends 'layout.html' %}

{% block head %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="../static/js/highcharts.dark.js"></script>
<script rel='stylesheet' type='text/css'>
.highcharts-legend { display: none };
</script>
{% endblock head %}

{% block body %}

{# <script>{% include 'chart1.js' %}</script> #}

<div style="width: 90%; margin: auto;">
	<h2 style="text-align: center;">Interesting Data Analysis</h2>
	<div id="chart1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>



{% endblock body %}
