{% extends 'layout.html' %}

{% block head %}
{% endblock head %}

{% block body %}
<script src="http://d3js.org/d3.v2.min.js?2.8.1"></script>
<script src="../static/js/highcharts.js"></script>
<script src="..static/js/exporting.js"></script>

<style>
#circle circle {
	fill: none;
	pointer-events: all;
}

.group path {
	fill-opacity: .4;
}

path.chord {
	stroke: #000;
	stroke-width: .25px;
}

#circle:hover path.fade {
	display: none;
}
</style>

<div style="width: 90%; margin: auto;">
	<h2 style="text-align: center; padding-bottom: 10px;">Interesting Data Analysis</h2>
	<hr>
	<div class="row" style="padding-top: 10px;">
		<div class="col-sm-6" style="padding-right: 20px;">
			<div style="text-align: center; font-size: 1.6em; padding-bottom: 10px;">Recommended Game Genres</div>
			<div style="text-align: center; font-weight: 100; padding-bottom: 10px;">Hover over an edge segment to see all recommended genres for a specific game genre. Hover over a connection to see the percentage of all recommendations in each direction (chosen genre to recommended genre).</div>
			<div id="chordplot"></div>
		</div>
		<div class="col-sm-6" style="font-size: 1.1em; padding-top: 42px;">
			<p>Using the IGN commenter dataset, we can look at which game genres are most insular. That is: <i>when showing recommendations for a particular game, how many are from the same genre?</i></p>
			<p>Because the classifier is built based on user interest, this is an interesting question for game developers: if I hook users with a particular game, should I make my next game in the same genre? Conventional wisdom would say yes, but exploring this with empirical data could be illuminating.</p>
			<p>A chord plot illustrating the connections between input game genre and recommended ones, is shown on the left.</p>
			<p>The most insular category, by a large margin, is <b>Wrestling</b> (pink segment near the top), where 14% of all recommendations for wrestling games are also in the wrestling genre. As wrestling games are only 0.4% of the entire set, this is a 35x increase as compared to random. There appears to be a strong niche group which prefers to play most wrestling games that are released.</p>
			<p>The next most insular category is <b>Party</b> (small blue segment near the bottom), which may be due to more casual gamers. The fraction of party games recommended from other party games is 9x higher than the overall percentage of party games in the dataset.</p>
			<p>Most large game categories have insular factors of roughly 2-4x, indicating that people who enjoy a certain game category prefer other games in the exact same category.</p> 
		</div>
	</div>
	<hr>
	<div class="row" style="padding-top: 10px; padding-bottom: 30px;">
		<div class="col-sm-6" style="padding-right: 20px;">
			<div style="text-align: center; font-size: 1.6em; padding-bottom: 10px;">Validation</div>
			<div style="text-align: center; font-weight: 100; padding-bottom: 10px;">Prediction success for users from Gamespot using the RespawnInto recommendations vs best-in-genre vs random chance.</div>
			<div id="highchart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
		</div>
		<div class="col-sm-6" style="font-size: 1.1em; padding-top: 42px;">
			<p>To validate the IGN commenter algorithm, recommendations were compared to an outside source. Similar to the method used to obtain the IGN data, commenter names were scraped from over 300 game review pages on <a href="http://www.gamespot.com" style="color: white; text-decoration: underline;">gamespot.com</a>.</p>
			<p>For the more than 1400 gamespot commenters who commented on 2+ games, one of the games was fed into the RespawnInto algorithm. The user was classified as "correctly predicted" if the other game appeared in some top number of recommended games.</p>
			<p>The successful prediction rate by the  RespawnInto recommendation algorithm is compared to two other methods in the plot to the left:
			<ul>
				<li><b>Random</b>: The requested number of games were chosen randomly from the full set of 855 that have IGN Comments.</li>
				<li><b>Best-In-Genre</b>: Only games in the same genre as the selected game were returned, and were ordered by IGN Score.</li>
			</ul></p>
			<p>The final version of RespawnInto displays 12 recommendations in order to make the interface as simple as possible. In this scenario, the RespawnInto algorithm is 75% better than the <i>best-in-genre</i> selection, and 30 times better than random.</p>
		</div>
	</div>
</div>

<script src="../static/js/chordplot.js"></script>
<script src="../static/js/highcharts.dark.js"></script>
<script src="../static/js/validationchart.js"></script>



{% endblock body %}
