{% extends 'layout.html' %}

{% block head %}
<style>
.highcharts-button { display: none; }
.highcharts-xaxis-title { font-size: 1.3em; }
.highcharts-yaxis-title { font-size: 1.3em; }

#circle circle {
	fill: none;
	pointer-events: all;
}

.group path {
	fill-opacity: .6;
}

path.chord {
	stroke: #FFF;
	stroke-width: .15px;
}

#circle:hover path.fade {
	display: none;
}

.row { padding-bottom: 50px; }

.content * a {
	color: white;
	text-decoration: underline;
}

.content * a:hover {
	color: #aaa;
	text-decoration: none;
}
</style>
{% endblock head %}

{% block body %}
<script src="http://d3js.org/d3.v2.min.js?2.8.1"></script>
<script src="../static/js/highcharts.js"></script>
<script src="../static/js/exporting.js"></script>
<script>var current_slide = 0;</script>

<div class="content" style="width: 1000px; margin: auto;">
	<div class="row" id="dataset"><div class="col-sm-6" style="font-size: 1.6em;">
		<h2 style="text-align: center; padding-bottom: 10px;">Data Set</h2>
		<p>The data for this project were scraped from <a href="http://ign.com">IGN.com</a>, a video game review website:
		<ul>
			<li>Basic game information (Name, Platform, Genre, etc.)</li>
			<li>Game ratings from the IGN reviewer.</li>
			<li>Game ratings from the user community.</li>
			<li>Full review text.</li>
			<li>List of top-level commenters and comment text.</li>
		</ul></p>
	</div><div class="col-sm-6">
		<div id="chartReviewHist" style="margin-top: 70px;"></div>
	</div></div>


	<div class="row" id="algorithm"><div class="col-sm-6">
		<div id="chartCommentHist" style="margin-top: 70px;"></div>
	</div><div class="col-sm-6" style="font-size: 1.4em;">
		<h2 style="text-align: center; padding-bottom: 10px;">Algorithm</h2>
		<p>Using this information, several recommendation systems can be implemented:
		<ul>
			<li><b>Jaccard Similarity</b>: Using the number of overlapping commenters, a <a href="http://en.wikipedia.org/wiki/Jaccard_index">Jaccard Similarity</a> measure (cosine similarity) can be obtained between games. This similarity measure is used for the bulk of video game recommendations.<br/>&nbsp;</li>
			<li><b>TF-IDF</b>: For games without commenter information, a <a href="http://en.wikipedia.org/wiki/Tf–idf">Term Freqency-Inverse Document Frequency</a> analysis of the review text highlights other game reviews about similar topics.</li>
		</ul></p>
	</div></div>

	<div class="row" id="chordwrapper">
		<div class="col-sm-6">
			<h2 style="text-align: center; padding-bottom: 10px; font-size: 2.2em;">Recommended Game Genres</h2>
			<div style="text-align: center; font-weight: 100; padding-bottom: 10px;">Hover over an edge segment to see all recommended genres for a specific game genre. Hover over a connection to see the percentage of all recommendations in each direction (chosen genre to recommended genre).</div>
			<div id="chordplot"></div>
		</div>
		<div class="col-sm-6" style="font-size: 1.4em; margin-top: 70px;">
			<p><i style="font-size: 1.3em;">When showing recommendations for a particular game, how many are from the same genre?</i></p>
			<p style="padding-bottom: 10px;">The most ''insular'' category, by a large margin, is <b>Wrestling</b> (pink segment near the top), where 14% of all recommendations for wrestling games are also in the wrestling genre (a 35x increase over random chance). There appears to be a strong niche group which prefers to play most wrestling games that are released.</p>
			<p style="padding-bottom: 10px;">The next most insular category is <b>Party</b> (small blue segment near the bottom), which may be due to more casual gamers. The fraction of party games recommended from other party games is 9x higher than the overall percentage of party games in the dataset.</p>
			<p style="padding-bottom: 10px;">Most large game categories have insular factors of roughly 2-4x random chance, indicating that people who enjoy a certain game category prefer other games in the exact same category.</p> 
		</div>
	</div>

		<div class="row" id="validation">
		<div class="col-sm-6">
			<h2 style="text-align: center; font-size: 2.2em; padding-bottom: 10px;">Validation</h2>
			<div style="text-align: center; font-weight: 100; padding-bottom: 10px;">Prediction success for users from Gamespot using the RespawnInto recommendations vs best-in-genre vs random chance.</div>
			<div id="highchart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
		</div>
		<div class="col-sm-6" style="font-size: 1.3em; margin-top: 70px;">
			<p>To validate, commenter names were scraped from over 300 game review pages on <a href="http://www.gamespot.com">gamespot.com</a> (another game review website), where 1400 users had commented on 2+ games.</p>
			<p>One of the games was fed into the recommendation algorithm, and the gamespot user was classified as "correctly predicted" if the other game appeared in some top number of recommended games.</p>
			<p>The successful prediction rate by the recommendation algorithm was compared to two other methods:
			<ul>
				<li><b>Random</b>: The recommended games were chosen randomly from the set of 855.</li>
				<li><b>Best-In-Genre</b>: Only games in the same genre as the selected game were returned, and were ordered by best IGN Score.</li>
			</ul></p>
			<p>The final version of RespawnInto displays 12 recommended games in order to make the interface as simple as possible. In this scenario, the RespawnInto algorithm is 75% better than the <i>best-in-genre</i> selection, and 30 times better than random.</p>
		</div>
	</div>
	
</div>
<div id="slidehelper" style="display: none; text-align: center; text-size: 1.5em;">You have activated slide mode. Press the down arrow to exit.</div>
<div style="padding-bottom: 30px;">&nbsp;</div>

<script src="../static/js/chordplot.js"></script>
<script>{% include 'chartReviewHist.js' %}</script>
<script>{% include 'chartCommentHist.js' %}</script>
<script src="../static/js/highcharts.dark.js"></script>
<script src="../static/js/validationchart.js"></script>
<script>
$(document).keydown(function(e) {
	switch(e.which) {
		case 38: // up [Enters slideshow mode]
		$('.row').hide()
		$('#dataset').show()
		$('#slidehelper').show()
		current_slide = 1;
		break;

		case 40: // down [Exits slideshow mode]
		$('.row').show()
		$('#slidehelper').hide()
		current_slide = 0;
		break;

		case 37: // left [Back a slide]
		if (current_slide == 2) {
			$('#algorithm').hide(200)
			$('#dataset').show(200)
			current_slide -= 1;
		} else if (current_slide == 3) {
			$('#chordwrapper').hide(200)
			$('#algorithm').show(200)
			current_slide -= 1;
		} else if (current_slide == 4) {
			$('#validation').hide(200)
			$('#chordwrapper').show(200)
			current_slide -= 1;
		};
		break;

		case 39: // right [Forward a slide]
		if (current_slide == 1) {
			$('#algorithm').show(200)
			$('#dataset').hide(200)
			current_slide += 1;
		} else if (current_slide == 2) {
			$('#chordwrapper').show(200)
			$('#algorithm').hide(200)
			current_slide += 1;
		} else if (current_slide == 3) {
			$('#validation').show(200)
			$('#chordwrapper').hide(200)
			current_slide += 1;
		};
		break;

		default: return; // exit this handler for other keys
	}
	e.preventDefault(); // prevent the default action (scroll / move caret)
});
</script>

{% endblock body %}
