{% extends 'layout.html' %}

{% block head %}
<style>
* {
  padding: 0;
  margin: 0;
}
.fit {
  max-width: 180%;
  max-height: 120%;
}
.center {
  display: block;
  margin: auto;
}
</style>

{% endblock head %}

{% block body %}

<div style="width: 100%; overflow: hidden; margin-top: -20px;">
	<img id="the_pic" class="center fit" style="position: relative;" src="/static/img/hero-image-square.jpg" > 
</div>

<div style="position: absolute; top: 180px; left: 20px; width: 100%; color: white;">
	<div style="width: 50%; margin-left: auto; margin-right: auto; text-align: center; padding-bottom: 20px; font-size: 3.5em; font-weight: 700;">RespawnInto</div>

	<div style="width: 50%; margin-left: auto; margin-right: auto; text-align: center; padding-bottom: 30px; font-size: 1.8em;">
		<p>Tired of playing your favorite game for the 10th time? <i>Respawn into a new favorite.</i></p>
	</div>
	
	<form class="form-horizontal" role="form" method="GET" action="/recommendations.html" style="background: rgba(0, 0, 0, 0.7); width: 70%; margin-left: auto; margin-right: auto; padding: 10px 20px; border-radius: 20px;">
		<div class="form-group">
			<label for="gameTitleInput" class="col-sm-2 control-label">Game You Loved</label>
			<div class="col-sm-10" style="padding-top: 10px;">
				<select class="select2 form-control" name="gameTitle">
					<option value=""></option>
					{% for g in gameNames %}
						<option value="{{ g }}">{{ g }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Platforms</label>
			<div class="col-sm-10 checkbox">
				{% for p in platforms %}
					<div class="col-sm-3"><label style="padding-right: 20px;"><input type="checkbox" name="{{ p }}" value="True">{{ p }}</label></div>
				{% endfor %}
			</div>
		</div>
		<div class="form-group">
			<div style="width: 100px; margin-left: auto; margin-right: auto;">
				<button type="submit" class="btn btn-success">Get Suggestions</button>
			</div>
		</div>
	</form>
</div>

{% endblock body %}
