{% extends 'layout.html' %}

{% block head %}
<style>
.ratingcell {
	padding: 3px; 
	margin: 3px; 
	border-radius: 5px; 
}
.greatrating { background: #179f01; }
.goodrating { background: #aea400; }
.fairrating { background: #ae6a00; }
.poorrating { background: #ae1400; }
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: white;
	text-decoration: underline;
}
</style>
{% endblock head %}

{% block body %}

<p>{{ test }}</p>

<div style="width: 80%; margin-left: auto; margin-right: auto; text-align: center; padding-bottom: 10px; font-size: 2em;">
	{% if game %}
		Recommendations if you liked '{{ game.name }}'
	{% else %}
		Cannot understand input. Please try again.
	{% endif %}
</div>
<div style="width: 80%; margin-left: auto; margin-right: auto; text-align: center; padding-bottom: 20px; font-size: 1.2em; font-weight: 100;">
	Showing recommended games for {{ usablePlatforms }}
</div>

{% if commenter_recommendations %}
	<div style="width: 95%; margin-left: auto; margin-right: auto; padding-top: 30px;">
		<p style="font-size: 1.4em; font-weight: 100;">Recommendations Based on IGN User Activity</p>
		{% for g in commenter_recommendations %}
			<div class="col-sm-2"><a href="{{ g.link }}">
				<div style="background-image: url('{{ g.art }}'); width: 127px; height: 160px; background-position: center; background-size: cover; margin-left: auto; margin-right: auto;"></div>
				<div style="text-align: center; font-weight: 100;">{{ g.name }}</div>
			</a></div>
		{% endfor %}
		<div style="clear: both">&nbsp;</div>
		{% for g in commenter_recommendations %}
			<div class="col-sm-2" style="margin-top: -15px">
				<table border="0" style="width: 100%;">
					<tr><td style="width: 75%;">Similarity:</td><td style="width: 22%; text-align: center;">{{ '%d' % (g.similarity*1000) }}</td></tr>
					<tr><td style="width: 75%;">IGN Score:</td><td style="width: 22%; text-align: center;">
						{% if g.ign >= 9 %}<div class="ratingcell greatrating">
						{% elif g.ign >= 8 %}<div class="ratingcell goodrating">
						{% elif g.ign >= 6 %}<div class="ratingcell fairrating">
						{% else %}<div class="ratingcell poorrating">
						{% endif %}
						{{ '%.1f' % (g.ign) }}</div>
					</td></tr>
					<tr><td style="width: 75%;">User Score:</td><td style="width: 22%; text-align: center;">
						{% if g.comm >= 9 %}<div class="ratingcell greatrating">
						{% elif g.comm >= 8 %}<div class="ratingcell goodrating">
						{% elif g.comm >= 6 %}<div class="ratingcell fairrating">
						{% elif g.comm > 0 %}<div class="ratingcell poorrating">
						{% else %}<div style="padding: 2px;">
						{% endif %}
						{% if g.comm > 0 %}{{ '%.1f' % (g.comm) }}
						{% else %}---{% endif %}
					</td></tr>
				</table>
				<!--<div>Available for {{ g.platforms }}</div>-->
			</div>
		{% endfor %}
	</div>
	<p style="clear: both;">&nbsp;</p>
{% endif %}

{% if reviews_recommendations %}
	<div style="width: 95%; margin-left: auto; margin-right: auto; margin-top: 30px;">
		<p style="font-size: 1.4em; font-weight: 100;">Recommendations Based on IGN Reviews</p>
		{% for g in reviews_recommendations %}
			<div class="col-sm-2"><a href="{{ g.link }}">
				<div style="background-image: url('{{ g.art }}'); width: 127px; height: 160px; background-position: center; background-size: cover; margin-left: auto; margin-right: auto;"></div>
				<div style="text-align: center; font-weight: 100;">{{ g.name }}</div>
			</a></div>
		{% endfor %}
		<div style="clear: both">&nbsp;</div>
		{% for g in reviews_recommendations %}
			<div class="col-sm-2" style="margin-top: -15px">
				<table border="0" style="width: 100%;" cellspacing="10">
					<tr><td style="width: 75%;">Similarity Score:</td><td style="width: 22%; text-align: center;"><div class="ratingcell">{{ '%d' % (g.similarity*100) }}</div></td></tr>
					<tr><td style="width: 75%;">IGN Score:</td><td style="width: 22%; text-align: center;">
						{% if g.ign >= 9 %}<div class="ratingcell greatrating">
						{% elif g.ign >= 8 %}<div class="ratingcell goodrating">
						{% elif g.ign >= 6 %}<div class="ratingcell fairrating">
						{% else %}<div class="ratingcell poorrating">
						{% endif %}
						{{ '%.1f' % (g.ign) }}</div>
					</td></tr>
					<tr><td style="width: 75%;">User Score:</td><td style="width: 22%; text-align: center;">
						{% if g.comm >= 9 %}<div class="ratingcell greatrating">
						{% elif g.comm >= 8 %}<div class="ratingcell goodrating">
						{% elif g.comm >= 6 %}<div class="ratingcell fairrating">
						{% elif g.comm > 0 %}<div class="ratingcell poorrating">
						{% else %}<div style="padding: 2px;">
						{% endif %}
						{% if g.comm > 0 %}{{ '%.1f' % (g.comm) }}
						{% else %}---{% endif %}
					</td></tr>
				</table>
				<!--<div>Available for {{ g.platforms }}</div>-->
			</div>
		{% endfor %}
	</div>
	<p style="clear: both;">&nbsp;</p>
{% endif %}

{% if genre_recommendations %}
	<div style="width: 95%; margin-left: auto; margin-right: auto; margin-top: 30px;">
		<p style="font-size: 1.4em; font-weight: 100;">Best Reviewed {{ game.genre }} Games</p>
		{% for g in genre_recommendations %}
			<div class="col-sm-2"><a href="{{ g.link }}">
				<div style="background-image: url('{{ g.art }}'); width: 127px; height: 160px; background-position: center; background-size: cover; margin-left: auto; margin-right: auto;"></div>
				<div style="text-align: center; font-weight: 100;">{{ g.name }}</div>
			</a></div>
		{% endfor %}
		<div style="clear: both">&nbsp;</div>
		{% for g in genre_recommendations %}
			<div class="col-sm-2" style="margin-top: -15px">
				<table border="0" style="width: 100%;">
					<tr><td style="width: 75%;">IGN Score:</td><td style="width: 22%; text-align: center;">
						{% if g.ign >= 9 %}<div class="ratingcell greatrating">
						{% elif g.ign >= 8 %}<div class="ratingcell goodrating">
						{% elif g.ign >= 6 %}<div class="ratingcell fairrating">
						{% else %}<div class="ratingcell poorrating">
						{% endif %}
						{{ '%.1f' % (g.ign) }}</div>
					</td></tr>
					<tr><td style="width: 75%;">User Score:</td><td style="width: 22%; text-align: center;">
						{% if g.comm >= 9 %}<div class="ratingcell greatrating">
						{% elif g.comm >= 8 %}<div class="ratingcell goodrating">
						{% elif g.comm >= 6 %}<div class="ratingcell fairrating">
						{% elif g.comm > 0 %}<div class="ratingcell poorrating">
						{% else %}<div style="padding: 2px;">
						{% endif %}
						{% if g.comm > 0 %}{{ '%.1f' % (g.comm) }}
						{% else %}---{% endif %}
					</td></tr>
				</table>
				<!--<div>Available for {{ g.platforms }}</div>-->
			</div>
		{% endfor %}
	</div>
	<p style="clear: both;">&nbsp;</p>
{% endif %}


{% endblock body %}