{% extends 'layout.html' %}

{% block head %}
<style>
.ratingcell {
	padding: 3px; 
	border-radius: 5px; 
	margin-top: -22px; 
	margin-right: -5px; 
	width: 32px;
	height: 30px; 
	float: right; 
	text-align: center;
}
.greatrating { background: #179f01; }
.goodrating { background: #aea400; }
.fairrating { background: #ae6a00; }
.poorrating { background: #ae1400; }
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: white;
	text-decoration: underline;
}
</style>
{% endblock head %}

{% block body %}

<div style="width: 80%; margin-left: auto; margin-right: auto; text-align: center; padding-bottom: 10px; font-size: 2em;">
	{% if game.name %}
		Recommendations if you liked '{{ game.name }}'
	{% else %}
		Cannot understand input. Please try again.
	{% endif %}
</div>
<div style="width: 80%; margin-left: auto; margin-right: auto; text-align: center; padding-bottom: 20px; font-size: 1.2em; font-weight: 100;">
	Showing recommended games for {{ usablePlatforms }}
</div>

{% if commenter_recommendations %}
	<div class="row" style="width: 95%; margin-left: auto; margin-right: auto; padding-top: 30px;">
		{% for g in commenter_recommendations[:6] %}{% include 'displaycell' %}{% endfor %}
	</div>
	<div class="row" style="width: 95%; margin-left: auto; margin-right: auto; padding-top: 30px;">
		{% for g in commenter_recommendations[6:] %}{% include 'displaycell' %}{% endfor %}
	</div>
	

{% elif reviews_recommendations %}
	<div class="row" style="width: 95%; margin-left: auto; margin-right: auto; padding-top: 30px;">
		{% for g in reviews_recommendations[:6] %}{% include 'displaycell' %}{% endfor %}
	</div>
	<div class="row" style="width: 95%; margin-left: auto; margin-right: auto; padding-top: 30px;">
		{% for g in reviews_recommendations[6:] %}{% include 'displaycell' %}{% endfor %}
	</div>

{% elif genre_recommendations %}
	<div class="row" style="width: 95%; margin-left: auto; margin-right: auto; padding-top: 30px;">
		{% for g in genre_recommendations[:6] %}{% include 'displaycell' %}{% endfor %}
	</div>
	<div class="row" style="width: 95%; margin-left: auto; margin-right: auto; padding-top: 30px;">
		{% for g in genre_recommendations[6:] %}{% include 'displaycell' %}{% endfor %}
	</div>
{% endif %}


{% endblock body %}